body {
  background-color: #111;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
}

.navbar {
  /* background-color: #111; */
  padding: 1rem;
  position: sticky;
  top: 0px;
}

.navbar-brand {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: #00FFFF;
}

.nav-link {
  color: rgba(255, 255, 255, 0.625);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #45DFC5;
}

.nav-link:hover .bracket {
  color: #fff;
}

.bracket {
  font-size: 1.3rem;
  transition: color 0.5s;
  color: #45DFC5;
}

/* Home Page Style */
/* .container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
} */
 main{
  padding-top: 100px;
min-height: 100vh; }
p{
  color:  rgba(255, 255, 255, 0.625);
}
h1{
  font-size: 4rem;
  color:#45DFC5 ;
}
.btn{
  border: 1px solid #45DFC5;
  color: #45DFC5;
  text-shadow: #45DFC5;
}
.btn:hover{
  background-color: #45DFC5;
  color: #111;
  box-shadow: #45DFC5;
}